# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local
.env.*.local

# macOS / Windows lixo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Vercel
.vercel

# Fotos de referência local (não vão para o repo)
images/
